header, main, footer {
    background-color: #ddd000;
    padding-left:auto;
    padding-right:auto;
    margin-left:80px;
    margin-right:80px;
}

header {
    text-align:center;
    font-size:36px;
}

.hero-image {
    background-image: url("images/wanderer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:50%;
    width:1000px;
}

.hero-text {
    color: white;
}

div p {
    font-size:12px;
}


ul {
text-align:center;
}

ul li {
    list-style-type:none;
    display:inline;
    text-align:center;
    margin-right:1em;
}

main{
    padding-left:150px;
    padding-right:150px;
}

img {
    width:1000px;
}

h3 {
    text-decoration:underline;
}

.country_description {
    border-style:ridge;
    width:1000px;
    border-radius:10px;
    padding:5px;
}

#copyright_statement {
    font-family:Cursive;
    font-size:75%;
    font-style:italic;
}

